<footer>
    <div class="footer-container">
        <p class="footer-sentence">There are vague reviews everywhere on the internet. Let's make 'Page Turners United', the place where readers get precise  information about a book's content</p>
        <div class="footer-links">
            <ul>
                <li><a href="">About Us</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Terms of Service</a></li>
            </ul>
        </div>
        <div class="footer-social">
            <a href="/"><img src="/images/logo.jpeg" alt="Social Media"></a>
        </div>
    </div>
</footer>
