footer {
    background-color: var(--h-f);
    padding: var(--p32px) var(--p40px);
    color: white;
    text-align: center;
    height: 35vh;
}

.footer-container {
    height: 100%;
    margin: 0 auto;
}

.footer-sentence {
    color: #EAEAEA;
    font-size: 1.5rem;
    margin-bottom: var(--m32px);
}

.footer-links ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: var(--m32px);
}

.footer-links ul li {
    margin: 0 var(--m16px);
}

.footer-links ul li a {
    font-size: 1.5rem;
}

.footer-social img {
    height: 50px;
    width: 50px;
    margin: 0 var(--m8px);
}



@media only screen and (max-width: 480px) {
    footer {
        padding: var(--p16px) var(--p16px);
        height: auto;
        text-align: left;
    }

    .footer-container {
        width: 100%;
        margin: 0;
    }

    .footer-sentence {
        font-size: 1.25rem;
        margin-bottom: var(--m16px);
        text-align: center;
    }

    .footer-links ul {
        flex-direction: column;
        align-items: center;
        margin-bottom: var(--m16px);
    }

    .footer-links ul li {
        margin: var(--m8px) 0;
    }

    .footer-links ul li a {
        font-size: 1.25rem;
    }

    .footer-social {
        display: flex;
        justify-content: center;
        margin-top: var(--m16px);
    }

    .footer-social img {
        height: 40px;
        width: 40px;
        margin: 0 var(--m8px);
    }
}
